button,
.btn {
	color: var(--primary-color);
	background-color: black;
	border: solid 5px;
	padding: (0.8rem) (1rem);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 1rem;
}

button:hover,
.btn:hover {
	color: white;
}
