.prettierrc
.prettierignore
client/node_modules
client/*.log*
client/.nuxt
client/.nitro
client/.cache
client/.output
client/.env
client/.idea
client/dist
client/assets/coverage.json
client/coverage
api/node_modules
api/public/hot
api/public/storage
api/storage/*.key
api/vendor
api/.env
api/.env.backup
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/npm-debug.log
api/yarn-error.log
api/.idea
api/.vscode
supervisord.log
node_modules
.idea